@import "fonts.css";

/*html {
	border-top: solid 0.7vw black;
}*/

body {
	display: none;
	background-color: #FCFCF7;
	font-family: "Cicle";
	margin: 0;
}

#header {
	margin-bottom: 3.5%;
}

.block-photo {
	width: 100%;
	height: auto;
}

#name-container {
	margin-top: 0.8%;
	text-align: center;
	font-family: "Panama";	
}

#name {
	font-size: 3.7vw;
	color: inherit;
}
	#name:hover{
		color: inherit;
		text-decoration: none;
	}

#label {
	font-size: 1.8vw;
	color: #636361;
}	
	#label:hover {
		color: inherit;
		text-decoration: none;
	}

#tabs {
	margin-top: 2%;
	font-size: 1.3vw;
	text-align: center;
	color: #999999;
}

.option {
	color: inherit;
}
	.option:hover {
		color: inherit;
		text-decoration: underline;
	}

footer {
	margin-top: 3.5%;
	text-align: center;
	font-size: 1.1vw;
	font-family: "Cicle";
	margin-bottom: 1%;
	color: black;
}

#externals {
	color: inherit;
	margin-bottom: 0.5%;
}

.external-link, .external-link:hover {
	color: inherit;
}

#copyright {
}
