@import "fonts.css";

body {
	font-family: "Cicle";
	background-color: #FCFCF7;
	display: none;
}

#content {
	margin-top: 8%;
	text-align: center;
	font-size: 2.8vw;
}

#content a, a:hover {
	color:inherit;
}

#content a:hover {
	text-decoration: none;
	font-style: italic;
	color: #ED8284;
}

/*#border {
	border: double 0.9vw #333330;
	padding: 6.5% 2% 6.5% 2%;
}*/

#name {
	font-family: "Panama";
	font-size: 3vw;
	font-weight: bold;
	margin-bottom: 2%;
}

#slashes {
	font-size: 2.2vw;
	color: #ED8284;
}