@font-face {
   font-family: "Caviar Dreams";
   src: url('../fonts/CaviarDreams.ttf');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Stark";
   src: url('../fonts/Stark.OTF');
   font-weight: normal;
   font-style: normal;
}