@import "fonts.css";

body {
	background-color: white;
}

#header {
	background-color: white;
	color: white;
}

.block-photo {
	width: 100%;
	height: auto;
}

#name-container {
	margin-top: 17%;
	margin-bottom: 11%;
	text-align: center;
}

#name {
	font-size: 575%;
	color: inherit;
	font-family: "Caviar Dreams";
	border-top: solid 2px;
	border-bottom: solid 2px;
}
	#name:hover{
		color: inherit;
		text-decoration: none;
	}

#tabs {
	font-size: 120%;
	margin-top: 1%;
	text-align: center;
	font-family: "Stark";
}

.option {
	color: black;
}
	.option:hover {
		color: inherit;
		text-decoration: underline;
	}

#home-content {
	margin-top: 15%;
	margin-left: 5%;
}
