body {
	background-color: #FFFFFF;
}

#header {
}

#name-container {
	margin-top: 8%;
	text-align: center;
}

#name {
	font-size: 475%;
	color: black;
	font-family: "Caviar Dreams";
	border-top: solid 2px;
	border-bottom: solid 2px;
	padding: 2% 0 2% 0;
}
	#name:hover{
		color: inherit;
		text-decoration: none;
	}

#categories {
	font-size: 120%;
	text-align: center;
	margin-top: 4%;
	font-family: "Stark";
}

.option {
	color: inherit;
}
	.option:hover {
		color: inherit;
		text-decoration: underline;
	}

#home-content {
	margin-top: 15%;
	margin-left: 5%;
}
