@import "fonts.css";

body {
	background-color: white;
	font-family: "Cicle";
	margin: 0;
}

#header {
}

.block-photo {
	width: 100%;
	height: auto;
}

#name-container {
	margin-top: 0.8%;
	text-align: center;
	font-family: "Panama";	
}

#name {
	font-size: 3.7vw;
	color: inherit;
}
	#name:hover{
		color: inherit;
		text-decoration: none;
	}

#label {
	font-size: 1.8vw;
	color: #636361;
}	
	#label:hover {
		color: inherit;
		text-decoration: none;
	}

#tabs {
	margin-top: 2%;
	font-size: 1.3vw;
	text-align: center;
	color: #999999
}

.option {
	color: inherit;
}
	.option:hover {
		color: inherit;
		text-decoration: underline;
	}




#home-content {
	margin-top: 3.5%;
	margin-bottom: 3.5%;
}

.photo-row {
	margin: 0 13% 0 13%;
	line-height: 0;
}

/* overriding bootstrap paddings for the content thumbnails */
.photo-row .col-xs-4 {
	padding: 0.2%;
}

.photo-container {
	color: white;

}

.description {
	visibility: hidden;
	background-color: red;
}
	.description:hover {
		visibility: visible;
		opacity: 0.8;
	}

.thumbnail-photo {
	display: block;
	width: 100%;
	height: 16vw;
}
	.thumbnail-photo:hover {
		opacity: 0.4;
	}



footer {
	text-align: center;
	font-size: 1.1vw;
	font-family: "Cicle";
	margin-bottom: 2%;
	color: black;
}

#externals {
	color: inherit;
	margin-bottom: 0.5%;
}

#external-link {
	color: inherit;
}
	#external-link:hover{
		color: inherit;
	}


#copyright {
}
